<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="2.0.0" targetFramework="net452" />
  <package id="OpenTK.Next" version="1.1.1616.8959" targetFramework="net452" />
  <package id="QuickFont.ES20" version="4.3.6018.34176" targetFramework="net452" />
  <package id="SharpFont" version="4.0.1" targetFramework="net452" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net452" />
</packages>